[submodule "bot"]
	path = bot
	url = https://github.com/journeyOS/JiraBot.git
[submodule "android"]
	path = android
	url = https://github.com/journeyOS/AndroidScript.git
[submodule "btc"]
	path = btc
	url = https://github.com/journeyOS/BotBtc
[submodule "pi"]
	path = pi
	url = https://github.com/journeyOS/Pi.git
